In [3]:
%run ENV.py
import mysql.connector

In [4]:


cnx = mysql.connector.connect(user=DB['user'], password=DB['password'],
                              host='localhost',
                              database='mambu')

In [5]:
cursor = cnx.cursor()

query = ("SELECT FIRSTNAME, LASTNAME from CLIENT ")

cursor.execute(query)

for it in cursor:
  print(it)

('Bob', 'Diamond')
('MK1', 'Kershaw')
('Currency', 'Tester')
('Jim', 'Smith')
('Alex', 'Yen')
('Dominic', 'Smith')
('Dominic', 'Giles22')
('Mark', 'Kershaw')
('Sharon', 'Kershaw')
('Harry', 'Styles')
('NewSME', 'Business')
('MPO Test Cust1', 'Tester3334455')
('MPO Test', 'James')

In [40]:
cnx.close()

In [29]:
%%writefile SQLFILE
CREATE TABLE table_name(
   Field1 varchar(14) NOT NULL,
   PRIMARY KEY( Field1 )
);

Overwriting SQLFILE

In [30]:
cursor = cnx.cursor()

sqlToExec = readFile("SQLFILE")
query = (sqlToExec)

cursor.execute(query)

for it in cursor:
  print(it)

In [38]:
query = ('insert into table_name (Field1) values ("three")')

cursor.execute(query)

for it in cursor:
  print(it)

In [39]:
query = ('select * from table_name ')

cursor.execute(query)

for it in cursor:
  print(it)

('one',)
('three',)
('two',)

In [6]:
cnx = mysql.connector.connect(user=DB['user'], password=DB['password'],
                              host='localhost',
                              database='world')
cursor = cnx.cursor()

In [14]:
cursor.execute('select Name, Continent, Population, LifeExpectancy, GNP from Country');
rows = cursor.fetchall()

country_names = []
for it in rows:
    country_names.append(it[0])

In [15]:
import pandas as pd
df = pd.DataFrame( [[ij for ij in i] for i in rows] )
df.rename(columns={0: 'Name', 1: 'Continent', 2: 'Population', 3: 'LifeExpectancy', 4:'GNP'}, inplace=True)
df = df.sort_values(['LifeExpectancy'], ascending=[1])

In [23]:
import plotly.plotly as py
from plotly.graph_objs import *
 
trace1 = Scatter(
     x=df['LifeExpectancy'],
     y=df['GNP'],
     text=country_names,
     mode='markers'
)
layout = Layout(
     xaxis=layout.XAxis( title='Life Expectancy' ),
     yaxis=layout.YAxis( type='log', title='GNP' )
)
data = Data([trace1])
fig = Figure(data=data, layout=layout)
# py.iplot(fig, filename='world GNP vs life expectancy')
py.iplot(fig)

In [19]:
import plotly 
plotly.tools.set_credentials_file(username='mkersh', api_key='3tFdhtzmZrnfBu3eKKrq')

In [26]:
import plotly.plotly as py
import plotly.graph_objs as go

trace0 = go.Scatter(
    x=[1, 2, 3, 4, 5],
    y=[10, 11, 12, 13, 14],
    mode='markers',
    marker=dict(
        size=[40, 60, 80, 100, 20],
    )
)

data = [trace0]
py.iplot(data)

In [41]:
import plotly.plotly as py
from plotly.graph_objs import *
 
trace1 = Scatter(
     x=df['LifeExpectancy'],
     y=df['GNP'],
     text=country_names,
     mode='markers',
     marker=dict(
        size=df['GNP']/100000,)
)
layout = Layout(
     xaxis=layout.XAxis( title='Life Expectancy' ),
     yaxis=layout.YAxis( type='log', title='GNP' )
)
data = Data([trace1])
fig = Figure(data=data, layout=layout)
# py.iplot(fig, filename='world GNP vs life expectancy')
py.iplot(fig)

In [38]:
df['GNP']/100

237       33.77
143       28.91
148       16.87
238       59.51
2         66.48
35        48.34
182       20.36
201       12.06
153       17.06
151       31.01
219       63.13
36        10.54
68        63.53
42       113.45
191        7.46
80        23.52
1         59.76
211        0.00
17         9.03
194        9.35
20        24.25
138       26.42
45        21.08
111       92.17
44        69.64
83         2.93
96        34.59
65         0.60
75        54.93
19        23.57
         ...
79         2.58
106    11617.55
37      5988.62
104       82.55
92      1664.48
200     2264.92
39      2644.78
14      3511.82
186      865.03
109    37870.42
193        5.10
129       57.49
5         16.30
11         0.00
12         0.00
34         0.00
38         0.00
52         0.00
71         0.00
93         0.00
100        0.00
154        0.00
157        0.00
166        0.00
187        0.00
189        0.00
209        0.00
221        0.00
225        0.09
232        0.00
Name: GNP, Length: 239, dtype: float64

'3.8.1'